
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-control" method="post">
    <div class="form-control">
        <label>Müşteri Adı</label>
        <input type="text" name="MUSTERIAD" class="form-group" />
    </div>
    <div class="form-control">
        <label>Müşteri SoyAdı</label>
        <input type="text" name="MUSTERISOYAD" class="form-group" />
    </div>
    <div>
        <button class="btn btn-outline-primary">Müşteri Ekle</button>
    </div>
</form>

